# ESP32-C6 — 8 MB embedded flash (ESP32-C6FH8)
# Eliminates "Flash memory size mismatch" warning from esptool
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
